<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="@Url.Content("~/assets/images/home/favicon.png")">
    <title>Find a coach, book a session and strat learning something great with My Coatch</title>
    <link rel="stylesheet" href="@Url.Content("~/assets/stylesheets/screen.css")">
</head>
<body id="home">
    <div id="wrap">
        @RenderBody()
        @*
        <div id="pophover">
            <section>
                <figure class='coachSnap'>
                    <img src="@Url.Content("~/assets/images/users/julia-vumilia.jpg")" alt="Julia Vumilia Vira">
                    <figcaption>
                        <strong>Coach Julia</strong>&middot;<span class='rate'>15$ per hour</span>
                        <p class="bio">
                            I'll teach you how to find the best way to manage your brand activation during the design process of your collection.
                            To have long term success you have to be obsessed in some way. we'll work on it.
                        </p>
                        <p role="navigation">
                            <span class="appTag">Fashion</span> <span class="appTag">Branding</span> <span class="appTag" href="#">Planning</span>
                        </p>
                    </figcaption>
                </figure>
                <div id="datePicking">
                    <a href=""><img src="@Url.Content("//assets/images/home/right.svg")" alt="Right"></a>
                    <p><span>Pick a slot</span></p>
                    <ol>
                        <li>
                            <a href="">
                                <strong>Sunday, 03/08</strong><br />
                                <span class="available"><span></span> Available now</span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <strong>Monday, 04/08</strong><br />
                                2pm to 3pm
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <strong>Friday, 08/08</strong><br />
                                2pm to 3pm
                            </a>
                        </li>
                    </ol>
                </div>
            </section>
        </div>*@
    </div><!-- wrap -->
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
