<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="@Url.Content("~/assets/images/home/favicon.png")">
    <title>Find a coach, book a session and strat learning something great with My Coatch</title>
    <link rel="stylesheet" href="@Url.Content("~/assets/stylesheets/screen.css")">
</head>
<body id="home">
    <div id="wrap">
        <header>
            <nav>
                Hello, Fabian!
                <a class="coach" href="">Sign out</a>
            </nav>
        </header>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
