@{
    ViewBag.Title = "Index";
}

<header>
    <nav>
        <a href="">Create an account</a>
        <span>-or-</span>
        <a href="">Login</a>
        <a class="coach" href="">Register as a coach</a>
    </nav>
</header>
<main>
    <h1><span id="logo"><span>My</span>Coach</span>. Find your inspirational help.</h1>
    <form action="">
        <div>
            <ul id="search-keywords"></ul>
            <p>
                <input id="search-input" type="search" placeholder="Try piano, fashion,..." autofocus autocomplete="off">
            </p>
        </div>
    </form>
</main>
<ol id="testimonial">
    <li>
        <img src="@Url.Content("~/assets/images/users/julia-vumilia.jpg")" alt="Julia Vumilia Vira">
        <h1>&ldquo;It's like finding the right advice to the right person.&rdquo;</h1>
        <h2>
            <a href="">Read her story</a>. Julia learns in:<br />
            <a class="appTag" href="">Fashion</a> <a class="appTag" href="">Branding</a> <a class="appTag" href="">Planning</a><br />
        </h2>
    </li>
</ol>

<section id="search-results" data-ng-style="display:none;">
    <ol></ol>
    <div id="loadingSection" style="display:none;">
        <button>load next...</button>
    </div>
</section>

<script type="text/template" id="coachTmpl">
    <li>
        <figure class="coachSnap" data-id="<%= id %>">
            <img src="<%= photoUrl %>" alt="Coach <%= firstName %>">
            <figcaption>
                <strong>Coach <%= firstName %></strong>&middot;<span class="rate"><%= price %>$ per hour</span>
                <p class="bio">
                    <%= summary %>
                </p>
                <p role="navigation">
                    <% for(var i = 0; i < expertiseDomains.length; i++) { %>
                        <a class="appTag" href=""><%= expertiseDomains[i].name %></a>
                    <% } %>
                </p>
            </figcaption>
        </figure>
    </li>
</script>

<script type="text/template" id="pophoverTemplate">
    <div id="pophover">
        <section>
            <a id="close" href="#"><img src="@Url.Content("~/assets/images/home/close-icon.svg")" alt="Close?" /></a>
            <figure class="coachSnap">
                <img src="<%= photoUrl %>" alt="Coach <%= firstName %>">
                <figcaption>
                    <strong>Coach <%= firstName %></strong>&middot;<span class="rate"><%= price %>$ per hour</span>
                    <p class="bio">
                        <%= summary %>
                    </p>
                    <p role="navigation">
                        <% for(var i = 0; i < expertiseDomains.length; i++) { %>
                            <span class="appTag"><%= expertiseDomains[i].name %></span>
                        <% } %>
                    </p>
                </figcaption>
            </figure>
            <div id="datePicking">
                <a href=""><img src="@Url.Content("~/assets/images/home/right.svg")" alt="Right"></a>
                <p><span>Pick a slot</span></p>
                <ol>
                    <% for(var i = 0; i < schedules.length; i++) { %>
                    <li>
                        <a href="">
                            <strong><%= schedules[i].startDateTime %></strong><br />
                            <span class="available"><span></span> Available now</span>
                        </a>
                    </li>
                    <% } %>
                </ol>
            </div>
        </section>
    </div>
</script>

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/typeahead.jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/handlebars.js")"></script>
    <script type="text/javascript">
            var substringMatcher = function (strs) {
            return function findMatches(q, cb) {
                var matches, substrRegex;

                matches = [];
                substrRegex = new RegExp(q, 'i');

                    $.each(strs, function (i, item) {
                    if (substrRegex.test(item.name)) {
                        if ($('#search-keywords li:contains(' + item.name + ')').length == 0) {
                            matches.push(item);
                        }
                    }
                });

                cb(matches);
            };
        };

            $(function () {
                $.getJSON('http://localhost:29071/api/expertise-domains').done(function (data) {
                $('#search-input').typeahead({
                    hint: true,
                    hightlight: false,
                    minLength: 2
                }, {
                    displayKey: 'name',
                    name: 'keywords',
                    source: substringMatcher(data),
                    }).bind("typeahead:autocompleted", function (event, selectedItem) {
                    var $li = $('<li></li>');

                    $li.data('id', selectedItem.id);
                    $li.text(selectedItem.name);
                    $('#search-keywords').append($li);
                    $(this).typeahead('val', '');
                    getCoaches(1);
                    $(this).attr('placeholder', '');
                    }).keyup(function (e) {
                    if (e.keyCode == 8 && $(this).val() == '') {
                        $('#search-keywords li:last').remove();
                        getCoaches();

                        if ($('#search-keywords li').length == 0) {
                            $(this).blur().focus();
                        };
                    }
                });
            });

                $(document).on('click', '.coachSnap', function () {
                    var id = $(this).data('id');

                    $.getJSON('http://localhost:29071/api/coaches/' + id).done(function (data) {
                        var markup = $('#pophoverTemplate').text();
                        var tmpl = _.template(markup);
                        var html = tmpl(data);

                        $('#home').append(html);
                        $('#pophover').show();
                    });
                });
        });
    </script>
}
<section id="search-results" data-ng-style="display:none;">
    <ol></ol>
</section>
<script type="text/template" id="coachTmpl">
    <li>
        <figure class="coachSnap">
            <img src="<%= photoUrl %>" alt="<%= firstName %>, <%= lastName %>">
            <figcaption>
                <strong>Coach <%= firstName %></strong>&middot;<span class="rate"><%= price %>$ per hour</span>
                <p class="bio"><%= summary %>  </p>
                <p role="navigation">
                    <% for(var i = 0; i < expertiseDomains.length; i++) { %>
                    <a class="appTag" href=""><%= expertiseDomains[i].name %></a>
                    <% } %>
                </p>
            </figcaption>
        </figure>
    </li>
</script>