@{
    ViewBag.Title = "Index";
}

<main>
    <h1><span id="logo"><span>My</span>Coach</span>. Find your inspirational help.</h1>
    <form action="">
        <div>
            <ul id="search-keywords"></ul>
            <p>
                <input id="search-input" type="search" placeholder="Try piano, fashion,..." autofocus="autofocus" autocomplete="off">
            </p>
        </div>
    </form>
</main>
<ol id="testimonial">
    <li>
        <img src="@Url.Content("~/assets/images/users/julia-vumilia.jpg")" alt="Julia Vumilia Vira">
        <h1>&ldquo;It's like finding the right advice to the right person.&rdquo;</h1>
        <h2>
            <a href="">Read her story</a>. Julia learns in:<br />
            <a class="appTag" href="">Fashion</a> <a class="appTag" href="">Branding</a> <a class="appTag" href="">Planning</a><br />
        </h2>
    </li>
</ol>

<section id="search-results" data-ng-style="display:none;">
    <ol></ol>
    <div id="loadingSection" style="display:none;">
        <button>Great. Show me more!</button>
    </div>
</section>

<script type="text/template" id="coachTmpl">
    <li>
        <figure class="coachSnap" data-id="<%= id %>">
            <img src="<%= photoUrl %>" alt="Coach <%= firstName %>">
            <figcaption>
                <strong>Coach <%= firstName %></strong>&middot;<span class="rate"><%= price %>$ per hour</span>
                <% for(var i = 0; i < schedules.length; i++) { 
                    if ((moment().isAfter(moment(schedules[i].startDateTime))) && (moment().isBefore(moment(schedules[i].startDateTime).add('hours', schedules[i].duration)))) { %>
                    &middot;<span class="available"><span></span> Available now</span>
                    <% } 
                } %>
                <p class="bio">
                    <%= summary %>
                </p>
                <p role="navigation">
                    <% for(var i = 0; i < expertiseDomains.length; i++) { %>
                    <a class="appTag" href=""><%= expertiseDomains[i].name %></a>
                    <% } %>
                </p>
            </figcaption>
        </figure>
    </li>
</script>

<script type="text/template" id="paymentTemplate">
    <section class="payAndGo">
        <a id="close" href="javascript:void(0);"><img src="@Url.Content("~/assets/images/home/close-icon.svg")" alt="Close?"></a>
        <h1>You are about to book <%= firstName %> for a coaching, please can you just confirm:</h1>
        <div class="infoOrder">
            <div class="cardInfo">
                Eurocard/Mastercard ***-1881<br />
                Fabian Vilers<br />
                01/2017<br />
                <a href="">Change?</a>
            </div>
            <div class="rateOrder">
                <strong><%= price %></strong><sup>$</sup><br />
                <span>per hour</span>
            </div>
            <a id="callCoach" href="skype:<%= skypeId %>?call">It's ok, <span>I want to start now</span></a>
        </div>        
    </section>
</script>

<script type="text/template" id="pophoverTemplate">
    <div id="pophover">
            <section data-id="<%= id %>">
            <a id="close" href="javascript:void(0);"><img src="@Url.Content("~/assets/images/home/close-icon.svg")" alt="Close?" /></a>
            <figure class="coachSnap">
                <img src="<%= photoUrl %>" alt="Coach <%= firstName %>">
                <figcaption>
                    <strong>Coach <%= firstName %></strong>&middot;<span class="rate"><%= price %>$ per hour</span>
                    <p class="bio">
                        <%= summary %>
                    </p>
                    <p role="navigation">
                        <% for(var i = 0; i < expertiseDomains.length; i++) { %>
                        <span class="appTag"><%= expertiseDomains[i].name %></span>
                        <% } %>
                    </p>
                </figcaption>
            </figure>
            <div id="datePicking">
                <a href=""><img src="@Url.Content("~/assets/images/home/right.svg")" alt="Right"></a>
                <p><span>Pick a slot</span></p>
                <ol>
                    <% for(var i = 0; i < schedules.length; i++) { %>
                    <li>
                        <a href="" class="booking-coach">
                            <% if ((moment().isAfter(moment(schedules[i].startDateTime))) && (moment().isBefore(moment(schedules[i].startDateTime).add('hours', schedules[i].duration)))) { %>
                            <strong><%= moment(schedules[i].startDateTime).format('dddd, DD/MM') %></strong><br />
                            <span class="available"><span></span> Available now</span>
                            <% } else if (moment().isSame(schedules[i].startDateTime, 'day')) { %>
                            <strong><%= moment().format('dddd, DD/MM') %></strong><br />
                            <%= moment(schedules[i].startDateTime).fromNow() %>
                            <% } else { %>
                            <strong><%= moment(schedules[i].startDateTime).format('dddd, DD/MM') %></strong><br />
                            <%= moment(schedules[i].startDateTime).format('HHa') %> to <%= moment().add('hours', schedules[i].duration).format('HHa') %>
                            <% } %>
                        </a>
                    </li>
                    <% } %>
                </ol>
            </div>
        </section>
    </div>
</script>

@section scripts
{
    @Scripts.Render("~/bundles/home")
   
}
